body{
color:blue;
background: rgb(189, 140, 245);
margin:0px;
font-family: "Gravitas One",sans-serif;
margin-bottom: 100px;
}
header{
border-bottom: solid 2px black;
padding: 20px;
font-size: 32px;
color: red;
}
.chamada{
background:rgb(157, 165, 240);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}
h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}
.categorias-videos{
    padding-left: 20px;
    padding-right: 20px;
}
.chamada-videos{
    display:flex;
    overflow: auto;
    gap: 10px;
}
.categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}
.categorias-videos img{
opacity:0.5;
height:200px;
}
.categorias-videos img:hover{
    opacity: 1.0;
    border: 1px solid #c062ff
}
.categoria h2{
    color:red
}